<h2>Change Password</h2>
<form>
    <input type="text" placeholder="input">
    <input type="text" placeholder="input">
    <input type="text" placeholder="input">
    <button type="submit">submit</button>
</form>