<h2>Log in</h2>
<form>
    <input type="text" placeholder="input">
    <input type="text" placeholder="input">
    <button type="submit">submit</button>
    <button><a href="/auth/google">Google</a></button>
</form>