<%- include("./partials/top.ejs")%>

<div class="card">
  <div class="contact">
    <h2>Contact Us</h2>
    <h2>Hello <%= user.username %></h2>
    <p>send us message here</p>
    <form action="" method="POST">
        <textarea name="message" id="" cols="30" rows="10" placeholder="Write your message here.."></textarea>
        <button type="submit">submit</button>
    </form>
  </div>
</div>

<%- include("./partials/bottom.ejs")%>