<%- include("./partials/top.ejs")%>

<div class="card">
    <div class="login">
        <h1>Log in with google</h1>
        <button><a href="/auth/google">Log in</a></button>
    </div>
</div>

<%- include("./partials/bottom.ejs")%>