* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 0px 10px;
    background: #f1f1f1;
    margin: 0px 30px;
}

a{
  text-decoration: none;
  color: #333;
}

/* Header */
.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    font-size: 50px;
    margin-left: 10px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 60px;
}

/* Style the topnav links */
.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}



/* Style the slider */

.slider{
    display: flex;
    text-align: center;
}
.arrow{
    background-color:#ddd;
    height: 400px;
    width: 10%;
    display: flex;
    align-items: center;
}
.arrow svg{
    display: block;
    margin: auto;
}
.rightarrow{
    transform: rotate(180deg);
}
/* Left column */
.rightcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.leftcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
}


/* d */


ul{
    padding: 0px;
    
}
li{
    list-style: none;
}

.category li{
    background-color: #333;
    text-align: center;
    padding: 14px 16px;

}
.category li a{
    color: rgb(170, 164, 164);
    text-decoration: none;

}

.category li:hover{
    background-color: #ddd;
}

.btnwrapper{
    display: flex;
    justify-content:space-between;
    /* margin: auto; */
    position: absolute;
    bottom: 20px;
    width: 100%;
}
.btnwrapper button, .btn{
    padding: 7px 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    color: #333;
    margin: 10px;
}

.basket .card{
  padding: 200px 2px;
}
.btn-wrap{
  position: absolute;
  bottom: 60px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.buy button{
    float: right;
}

.cardd{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    width: 240px;
    height: 480px;
    margin: 20px 10px;
    position: relative;
}
.containerr{
    padding:0.01em 16px;
}

/* d */

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}


/* Add a card effect for items */
.card {
    background-color: white;
    padding: 50px 20px;   
    margin: 20px 10px;
    position: relative;
}

.category{
    margin-top: 90px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style products galery */
.galery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product{
    display: flex;
}


/* steps in basket page  */

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }
  
  .stepper-item.active {
    font-weight: bold;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #333;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #333;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }


/* tables style */
table {
    text-align: center;
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
table thead tr {
    background-color: #333;
    color: #ffffff;
    text-align: left;
}
table th,
table td {
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}


table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

.total{
    font-weight: bolder; 
    float: right; 
    margin-right: 120px;
}
.total::after{
    clear: both;
}

.basket .btnwrapper{
    margin: 60px 10%;
}

.notfound{
  text-align: center;
  padding: 300px auto;
  margin: 300px auto;
}

/* Footer */
.footer {
    padding: 100px;
    text-align: center;
    background: #ddd;
    margin-top: 100px;
}



/*Slider style*/
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; 
    scrollbar-width: 0px;
    overflow:visible;
  }
  
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  } 
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
  }
  
  .carousel__slide:nth-child(even) {
    background-color: #99f;
  }
  
  .carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
  }
  
  .carousel::before,
  .carousel__prev {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
  }
  
  .carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
  }

/*
search bar style
*/

input[type="text"] {
    width: 80%;
    padding-right: 50px;
    flex-shrink: 0;
}

input[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 20%;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

/* Style the form */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 70px;
}


/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Style the submit button */
.form-inline button {
  padding: 11px 20px;
  background-color: #333;
  border: 1px solid #ddd;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-inline button:hover {
  background-color: royalblue;
}

/*Login*/
.login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0px;
}
.login h1{
  text-align: center;
}
.login button{
  background-color: #4c8bf5;
  color: #f1f1f1;
  padding: 20px 120px;
}
.login button a {
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
}

.contact{
  display: flex;
  /* align-items:flex-start; */
  /* justify-content: center; */
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.contact form{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contact form >*{
  margin-top: 40px;
  padding: 10px 0px;
}

/* Responsive layout - when the screen is less than 800px wide */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
    }
}


/* Responsive layout - when the screen is less than 936px wide */

@media screen and (max-width: 936px) {
    
    .cardd{
        width: 260px;
    }
    .fill-in form >*{
        margin: 10px 20%;
    }

}
/* Responsive layout - when the screen is less than 756px wide */

@media screen and (max-width: 756px) {
    
    .cardd{
        width: 320px;
    }
    .fill-in form >*{
        margin: 10px 10%;
    }
    table{
        min-width: 100%;
    }
    .product{
        display: block;
    }

}

/* Responsive layout - when the screen is less than 600px wide */

@media screen and (max-width: 600px) {
  input[type="text"] {
    width: 70%;
  }
  .delivery input[type="text"] {
    width: 100%;
  }
  .contact{
    width: 250px;
  }
  .contact form{
    width: 250px;
  }

}

/* Responsive layout - when the screen is less than 400px wide */
@media screen and (max-width: 400px) {
    .topnav a {
    float: none;
    width: 100%;
    }
    .header div{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }
    .btnwrapper{
        display: block;
        text-align: center;
    }
    .btnwrapper button{
        padding: 7px 55px;
    }
    .shop .search, .details .search{
        width: 100%;
    }
    .buy{
        text-align: center;
    }
    .buy button{
        float:none;
    }
    .fill-in form >*{
        margin: 10px 10%;
    }
    .login button{
      padding: 20px 60px;
    }
    .contact{
      width: 200px;
    }
    .contact form{
      width: 200px;
    }    
}